body {
    margin: 0;

}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}
#Submit {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* border: 2px solid black; */
}
input {
    cursor: pointer;
}
form span {
    margin: 20px;
}

